/* PAGE ------------------- */
.intro {
    font-size: 1.1em;
}

/* HEADER ------------------- */
header {
    background-color: #e6e6ea;
}
body
{
    overflow-x: hidden;
}

#logo-me {
    width: 120px;
}

/* Pour version  beta/d�mo */
.header__ribbon {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: -25px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 90px;
    background-color: red;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    z-index: 100;

}

/* FORM ------------------- */

.btn {
    background-color: #0e4391!important;
    opacity: 0.8;
}

.btn:hover,
.btn:active,
.btn:focus {
    opacity: 1;
}

.invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

label span {
    color:#e00917;
}

.none {
    display: none;
}